@import "../base/fonts";
@import "../base/variables";

.footer {
  background: $background-color;

  &__container {
    padding-top: 95px;
    padding-bottom: 145px;
  }
  
  .logo {
    max-height: 55px;

    svg {
      max-height: 55px;
    }

    &:hover {
      transition: .8s;
      transform: rotateX(360deg);
    }
}

  .footer-menu {
    display: flex;
    flex-direction: column;

    &__link {
        width: fit-content;
        font-family: 'Lato';
        margin-top: 60px;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px; 
        color: $white-color;
    }
  }
}