@import "../base/fonts";
@import "../base/variables";

.header {
    width: 100%;
    margin-top: 30px;

    &__container {
        display: flex;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sign {
        margin-left: auto;
    }

    .logo {
        max-height: 23px;
        
        svg {
            max-height: 23px;
        }
    }
}

.mobile-menu {
    display: none;
  
    @media screen and (max-width: 1024px) {
      display: flex;
    }
  }

  .main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 172px;
    font-family: 'Lato';
    font-weight: 400;//500
    font-size: 20px;
    line-height: 24px;
  
    &__link {
      margin-left: 70px;
      color: $header-color;
    }

    @media screen and (max-width: 1024px) {
        display: none;
      }
  }

  .sign {
    display: flex;
    align-items: center;
  
    &__link {
    //   padding: 0 12px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $black-color;
    }
  }