@import "../base/fonts";
@import "../base/variables";

.stages {
    margin: 170px auto 40px;

    &__box {
        display: flex;
        align-items: center;
        padding-bottom: 52px;
        gap: 70px;
    }

    &__left {
        width: 60%;
        max-width: 585px;
    }

    &__text {
        font-family: 'Lato';
        font-weight: 600;
        font-size: 24px;
        line-height: 157%;
        color: $text-color;
    }

    &__title {
        max-width: 585px;
        font-family: 'Georgia';
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: $green-color;
    }

    &__right {
        width: 40%;
        max-width: 670x;
    }

    &__subtitle {
        font-family: 'Lato';
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: $text-color;
    }


    .phane {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        // padding: 0;
        // margin: 0;

        &__item {
            max-width: 390px;

            &_1 {
                margin-top: 0;
            }

            &_2 {
                margin-top: 200px;
            }

            &_3 {
                margin-top: 23px;
            }
        }

        &__section {
            max-width: 270px;
        }

        &__namber {
            margin: 0 0 10px 0;
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 150px;
            line-height: 150%;
            text-align: center;
            color: $namber-color;
        }

        &__title {
            margin: -85px 0 40px 0 ;
            text-align: center;
            font-family: 'Lato';
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: $black-color;
        }


        &__text {
            max-width: 383px;
            padding-bottom: 60px;
            font-family: 'Lato';
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: $text-color;
        }
    }
}