@import "../base/fonts";
@import "../base/variables";

.story {
    background-color: $background-color;

    &__container {
        display: flex;
        padding-top: 200px;
        padding-bottom: 175px;
        gap: 30px;

        @media screen and (max-width: 1260px) {
            flex-direction: column;
            padding-top: 100px;
            padding-bottom: 75px;
        }
    }

    &__box {
        max-width: 512px;

        @media screen and (max-width: 1260px) {
            padding-bottom: 40px;
        }
    }

    &__title {
        font-family: 'Georgia';
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: $white-color;

        @media screen and (max-width: 1024px) {
            padding-bottom: 30px;
            font-size: 25px;
        }
    }

    &__text {
        padding-bottom: 20px;
        max-width: 485px;
        font-family: 'Lato';
        font-weight: 600;
        font-size: 25px;
        line-height: 157%;
        color: $white-color;
    }

    &__img,
    &__video {
      object-fit: cover;
      max-width: 825px;
      max-height: 515px;
      padding-top: 65px;
      border-radius: 16px;

      @media screen and (max-width: 1024px) {
       padding-top: 20px;
      }
    }

    &__img {
        display: block;
    }

    &__video {
        display: none;
    }

    &__play {
        width: 80px;
        height: 80px;
        padding: 0;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: none;
        border: none;
        cursor: pointer;
        overflow: hidden;

        &-active {
            background-color: transparent;
        }

        &-svg {
            width: 100%;
            position: relative;
            z-index: 2;
        }

        &-playing {
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            opacity: .8;
            background-color: transparent;
          }
      
          &:hover {
            .story__play-playing {
              transition: .4s;
              background-color: $text-color;
            }
          }
    }
}