@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg") format("svg"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
.product {
  padding: 120px 0 170px;
}
@media screen and (max-width: 1024px) {
  .product {
    padding: 60px 0 75px;
  }
}
.product__container {
  display: flex;
  position: relative;
  gap: 40px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .product__container {
    margin: 0 auto;
    flex-direction: column;
  }
}
.product__col {
  width: 50%;
}
.product__col_left {
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .product__col_right {
    margin: 0 auto;
  }
}
.product__img {
  max-width: 640px;
  border-radius: 18px;
}
@media screen and (max-width: 1024px) {
  .product__img {
    margin: 0 160px auto;
  }
}
.product__text {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Lato";
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #424242;
}
.product__title {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}
@media screen and (max-width: 1024px) {
  .product__title {
    font-size: 30px;
  }
}
.product__subtitle {
  padding-bottom: 40px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}
@media screen and (max-width: 1024px) {
  .product__subtitle {
    max-width: 290px;
  }
}
.product .card {
  width: 296px;
  box-sizing: border-box;
  padding: 25px 55px;
  top: 260px;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}
@media screen and (max-width: 1024px) {
  .product .card {
    margin: 0 auto;
    left: 130px;
    top: 160px;
  }
}
.product .card__text {
  width: fit-content;
  margin: 0 auto 13px auto;
  padding: 0 3px 7px 3px;
  border-bottom: 0.7px solid #000000;
  font-family: "Lato";
  font-weight: 600;
  font-size: 15px;
  line-height: 157%;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .product .card__text {
    margin: 0 auto6 auto;
    padding: 0 1px 4px 1px;
  }
}
.product .card__img {
  display: block;
  max-width: 57px;
  margin: 0 auto 13px auto;
  border-radius: 50%;
}
.product .card__name {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 157%;
  text-align: center;
  color: #000000;
}
.product .card__title {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 16px;
  line-height: 157%;
  color: #000000;
}
.product .card__list {
  padding-left: 0;
  list-style: none;
}
.product .card__list_item {
  margin-bottom: 15px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 11px;
  line-height: 157%;
}
.product .card__list_item::before {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000000;
}

/*# sourceMappingURL=product.css.map */
