$header-color: #292929;
$black-color: #000000;
$green-color:#01996D;
$white-color: #fff;
$grey-color: #484848;

$text-color: #424242;

$namber-color: rgba(1, 153, 109, 0.2); 

$background-color: #245852;