@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg") format("svg"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg") format("svg"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg") format("svg"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.button_first {
  display: flex;
  align-items: center;
  padding: 13px 50px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #01996D;
  border: 1px solid #01996D;
}
.button_first:hover {
  transition: all 0.4s;
  background-color: #fff;
  color: #000000;
}
.button_second {
  margin-top: 47px;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
.button_second:hover {
  transition: all 0.4s;
  background-color: #fff;
  color: #000000;
}

.link-anima {
  position: relative;
}
.link-anima::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #01996D;
  transition: width 0.4s;
}
.link-anima:hover::before {
  width: 100%;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg") format("svg"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
.header {
  width: 100%;
  padding: 30px 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__sign {
  margin-left: auto;
}
.header .logo {
  max-height: 23px;
}
.header .logo svg {
  max-height: 23px;
}
.header .logo:hover {
  transition: 0.8s;
  transform: rotateX(360deg);
}

.mobile-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .mobile-menu {
    display: flex;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 172px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.main-menu__link {
  margin-left: 70px;
  color: #292929;
}
@media screen and (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}

.sign {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign__link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sign__link:hover {
  transition: all 0.4s;
  color: #01996D;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg") format("svg"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
.hero {
  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .hero__box {
  max-width: 440px;
  padding-top: 175px;
  padding-bottom: 336px;
}
.hero__title {
  margin-bottom: 30px;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: #01996D;
}
.hero__subtitle {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.eot") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg") format("svg"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
.stages {
  max-width: 1390px;
  padding: 170px 0 40px;
}
.stages__text {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}
.stages__box {
  display: flex;
  justify-content: space-between;
}
.stages__title {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}
.stages__subtitle {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

/*# sourceMappingURL=home.css.map */
